.navigation__list {
    list-style: none;
    display:flex;
    justify-content:space-around;
    padding: 10px;
    background-color: rgba(65, 11, 134, 0.795);
    box-shadow: 0px 5px 5px -1px rgba(66, 68, 90, 1);
}

.navigation__listItem {
    padding: 8px;
    margin: 10px 0;
}

.navigation__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 25px;
}

.navigation__link:hover {
    background-color: rgba(0, 0, 0, 0.314);
}

.navigation__link:active {
    background-color: rgba(0, 0, 0, 0.507);
}