.background {
    background-color: rgba(114, 112, 110, 0.39);
}

.mainHeader {
    color: rgba(104, 45, 45, 0.705);
}

.subHeader {
    color: rgba(158, 58, 58, 0.705);
}

.image {
    width: 200px;
    border: 2px solid rgba(54, 29, 29, 0.733);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}