html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Kanit', sans-serif;
}

.navList {
    list-style: none;
}

.navItem {
    padding: 8px;
    margin: 10px 0;
}

.navLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.189);
    box-shadow: 5px 5px 5px -4px rgba(66, 68, 90, 1);
}

.navLink:hover {
    background-color: rgba(0, 0, 0, 0.314);
}

.navLink:active {
    background-color: rgba(0, 0, 0, 0.744);
    color: white;
}

.section {
    text-align: justify;
    line-height: 1.3;
    margin: 0 50px;
}

.footer {
    font-style: italic;
    text-align: center;
    margin: 10px auto;
}

.background {
    background-color: rgba(114, 112, 110, 0.39);
}

.mainHeader {
    color: rgba(104, 45, 45, 0.705);
    margin-left: 50px;
    text-align: center;
}

.subHeader {
    color: rgba(158, 58, 58, 0.705);
    text-align: center;
}

.image {
    width: 200px;
    border-radius: 20%;
    display: block;
    margin: 0 auto;
    box-shadow: 8px 9px 22px -9px rgba(66, 68, 90, 1);
}

.imageDeleted {
    display: none;
}

button {
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.189);
font-size: 15px;
}

button:disabled {
    cursor: not-allowed;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.314);
}

.backgroundButton {
    display: block;
    margin: 0 auto;
}

.deleteButton {
    display: block;
    margin: 0 auto;
}

.tableContainer {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 50px;
}

.tableCaption {
    font-size: 20px;
    background-color: aliceblue;
    border: 3px solid rgba(5, 31, 134, 0.705);
    padding: 5px;
    margin-bottom: 5px;
}

.tableHeaders {
    background-color: rgba(5, 31, 134, 0.705);
    color: white;
}

.tableHeader {
    text-align: center;
    padding: 10px;
    border: 3px solid white;
}

.tableRow:nth-child(even) {
    background-color: rgba(5, 31, 134, 0.256);
}

.tableCell {
    text-align: left;
    background-color: rgba(5, 31, 134, 0.09);
    padding: 10px;
    border: 3px solid white;
}